@using MudBlazor
@inherits LayoutComponentBase
<MudThemeProvider/>
<MudSnackbarProvider/>
<div class="page main-page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
